body {
  margin: 0 auto;
  text-align: center;
}

p {
  color: red;
  font-weight: bold;
}

h1 {
}

img {
  height: 50px;
}

h2 {
  display: inline-block;
  padding: 10px;
}

.header {
  text-align: center;
}

.nav {
}

@media (max-width: 650px) {
  .header {
    color: red;
  }
  .nav {
  }
  h2 {
    display: block;
  }
}

.content h1 {
  padding: 10px;
}

.projects {
  background-color: blue;
  height: 100%;
}

.grid {
  display: block;
  overflow-y: auto;
}

.image {
  background-color: black;
  height: 189px;
  width: 336px;
  margin: 20px;

  border-radius: 10px;
  display: inline-block;
}

.about {
  background-color: green;
  height: 900px;
  width: 100%;
}

.resume {
  background-color: red;
  height: 900px;
  width: 100%;
}

.contact {
  background-color: yellow;
  height: 900px;
  width: 100%;
}
