body {
  margin: 0;
  background-color: lightblue;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  margin-left: 100px;
  margin-right: 100px;
}

.heading {
  font-size: 45px;
  padding: 10px;
}

.projects {
  display: flex;
  margin: 50px 100px;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
}

.align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tech {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.badge img {
  width: 40px;
  height: 40px;
}
.logo img {
  width: 40px;
  height: 40px;
}
.preview {
  display: flex;
  margin: 0 auto;
}

.preview img {
  width: 320px;
  height: 200px;
  border: 2px solid black;
}

.description {
  text-align: center;
}
